<!DOCTYPE html>
<html lang="en">
<link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
  <head>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <header>
    <h1 class="text-center">Weather Data table</h1>
    </header>
    <%= @inner_content %>
  </body>
</html>
