<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Weather", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    
<table id="meteotable" class="display" width="90%">

</table>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" />
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" />
<script>
function load_data()
  {
  $.get("/api", function(data, status)
    {
      console.log(data[0])
      let t = $('#meteotable').DataTable
        ({
          data: data,
          columns: 
          [
            {data:"name",title:"name"},
            {data:"temp",title:"temp"},
            {data:"humidity",title:"humidity"},
            {data:"pressure",title:"pressure"},
            {data:"windspeed",title:"windspeed"},
            {data:"winddeg",title:"winddeg"},
            {data:"updated_at",title:"updated_at"}
          ]
        });
      t
        .column( updated_at )
        .sort()
    });
}
$(document).ready(() => {
  load_data();
  });
  
</script>
  </body>
</html>
